.App {
	text-align: center;
}

.header > a {
	color: rgb(193, 77, 77);
}

.heart {
	width: 20px;
}
.heartButton {
	outline: none;
	border: none;
	background-color: transparent;
}
.under-line {
	text-decoration: none;
	text-align: start;
}

.upload {
	text-align: end;
}

.upload-box {
	text-align: center;
	padding-top: 50px;
}

.input-upload {
	width: 350px;
	max-width: 100%;
	color: #444;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #555;
}

input[type="file"]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #555;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	/* transition: background 0.7s ease-in-out; */
}
