.App {
	text-align: center;
}

.container {
	color: rgb(239, 239, 239);
}

.heart {
	width: 20px;
}
.heartButton {
	outline: none;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: white;
}
.flex {
	display: flex;
	justify-content: center;
}
.end-link {
	margin: 5px;
	margin-left: 10px;
}
.container-home {
	margin-top: 20px;
}

.videos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.vidBorder {
	border-radius: 10px;
	border: rgb(41, 40, 40);
}

.upload {
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(41, 40, 40);
	color: #fff;
	border: transparent;
}

.upload-box {
	text-align: center;
	padding-top: 100px;
}

.video-container {
	position: relative;
	width: fit-content;
	margin: 15px;
}

.button-container {
	position: absolute;
	top: 5px;
	right: 10px;
}

.input-upload {
	width: 350px;
	max-width: 100%;
	color: #444;
	padding: 5px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid rgb(41, 40, 40);
}

input[type="file"]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: rgb(41, 40, 40);
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	/* transition: background 0.7s ease-in-out; */
}

.No-favorites {
	color: black;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-top: 100px;
}
